In [1]:
from data_loader import load_data

In [2]:
load_data()

,dg_id,early_late_wave,proj_ownership,proj_points_finish,proj_points_scoring,proj_points_total,r1_teetime,salary,id
name,,,,,,,,,
Scottie Scheffler,18417,0,None,10.80,65.12,75.92,n/a,12800,35033420
Bryson DeChambeau,19841,0,None,5.41,53.99,59.40,n/a,11500,35033421
Rory McIlroy,10091,0,None,8.74,61.46,70.20,n/a,11400,35033422
Xander Schauffele,19895,0,None,8.12,60.15,68.26,n/a,11200,35033423
Jon Rahm,19195,0,None,5.50,54.30,59.80,n/a,10400,35033424
...,...,...,...,...,...,...,...,...,...
Justin Leonard,5603,0,None,0.04,17.63,17.67,n/a,5000,35033575
Alex Cejka,4425,0,None,0.11,21.19,21.30,n/a,5000,35033570
Darren Clarke,3523,0,None,0.11,21.07,21.18,n/a,5000,35033572
Todd Hamilton,915,0,None,0.00,6.52,6.52,n/a,5000,35033574
John Daly,863,0,None,0.00,8.95,8.95,n/a,5000,35033573

In [13]:
raw  = load_data()

In [14]:
raw['salary'].describe()

count      158.000000
mean      6444.936709
std       1439.238452
min       5000.000000
25%       5425.000000
50%       6100.000000
75%       6900.000000
max      12800.000000
Name: salary, dtype: float64

In [31]:
class Lookup:
    def __init__(self):
        self.data = load_data()

    def names(self):
        return tuple(self.data.index)

    def salary(self, name: str):
        return self.data.loc[name, 'salary']

    def salaries(self, names: tuple[str,...]):
        return [self.salary(name) for name in names]

    def cost(self, names: tuple[str,...]):
        return sum([self.salary(name) for name in names])

class Checker:
    def __init__(self):
        self.lookup = Lookup()

    def salaries(self, sals: list[int,...]):
        if len(sals) == 3:
            return len([sal for sal in sals if sal <= 6100]) <= 1

        return len([sal for sal in sals if sal <= 6100]) <= 5

In [60]:
import itertools
import random

def possible(MIN_SALARY=49_500):

    lookup = Lookup()

    return [combo for combo in itertools.combinations(lookup.names(), 6) if MIN_SALARY <= lookup.cost(combo) <= 50_000]

def wittle():
    """
    Attempting to limit subcombos in order to make it possible to create all possible lineups
    """
    lookup = Lookup()
    names = list(lookup.names())
    random.shuffle(names)
    checker = Checker()

    a, b = names[:len(names)//2], names[len(names)//2:]
    sub_a = [combo for combo in itertools.combinations(a, 3) if checker.salaries(lookup.salaries(combo))]
    sub_b = [combo for combo in itertools.combinations(b, 3) if checker.salaries(lookup.salaries(combo))]

    lineups = [combo for combo in itertools.product(sub_a, sub_b) if checker.salaries(lookup.salaries(combo))]

    return lineups

In [61]:
# POSSIBLE = possible()

In [62]:
# len(POSSIBLE)

In [63]:
# sub_a, sub_b = wittle()
# print(f'A: {len(sub_a):,} possible combinations')
# print(f'B: {len(sub_b):,} possible combinations')

lineups = wittle()
print(f'{len(lineups):,} possible lineups.\n')

AssertionError:

In [38]:
lineups

[]

In [16]:
lookup = Lookup()
i = 0

for combo in itertools.combinations(lookup.names(), 3):
    i+=1

print(f'{i:,} possible combinations')

644,956 possible combinations

In [12]:
lookup = Lookup()
i = 0

for combo in itertools.combinations(lookup.names(), 5):
    i+=1

print(f'{i:,} possible combinations')

769,754,986 possible combinations